/*Comment to help me remember the syntax*/
body {font-family: "Gill Sans", sans-serif;
    background-color: rgb(0, 0, 0, .75);
    background-image: url(grungebg.png); 
    color: white;
}

/* This gets my image to the right of the page*/
figure {
    float:right;
    img{ width: 200px;
    outline: solid;}
    text-align: center;
    font-size: 12px;
    
}



h1 {text-align: center;
    border: solid;
    border-color: white;
    border-width: 5px;
    margin: auto;
    border-radius: 50px;
    text-shadow: 2.5px 2.5px grey;
}

c1 {
    font-weight: bold;
    outline: solid;
    outline-style: ridge;    
    margin: auto;
    text-shadow: 2px 2px 3px grey;
}